.background {
  fill: none;
  pointer-events: all;
}

.fullSVG text {
	font: 24px Arial;
	font-weight:bold;
	fill:#333;
}

#states {
  fill: #0000;
  stroke: #fff;
  stroke-width: 1.5px;
}

#states .active {
  /*fill: steelblue;*/
 	fill:#aaa;
}
